@use "@@/styles/mixins.scss" as *;

.bin {
	display: flex;
	align-items: center;
	gap: 10px;
}

.bin-btn {
	position: relative;
}

.bin-count {
	position: absolute;
	top: 0;
	right: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 16px;
	height: 16px;

	border-radius: 50%;

	color: var(--accent-text);
	background: var(--accent);

	font-size: 10px;
	font-weight: 500;
}

.bin-desc {
	font-size: 14px;
	font-weight: 500;
	line-height: 110%;

	@include mediaXl {
		display: none;
	}
}

.bin-sum {
	font-size: 14px;
	font-weight: 500;

	color: var(--accent);
	line-height: 110%;

	@include mediaXl {
		display: none;
	}
}
