@use "@@/styles/mixins.scss" as *;

.reviews-wrapper {
	position: relative;

	background: var(--gray-6);

	overflow: hidden;
}

.big-icon {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.body {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 80px 0px;

	position: relative;
	z-index: 1;

	@include mediaMd {
		padding: 40px 0px;
	}
}

.reviews {
	max-width: 100%;
}

.slide {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;

	margin-top: 40px;
}

.avatar {
	position: relative;
}

.slide-img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}
}

.rating {
	display: flex;
	align-items: center;
	gap: 5px;

	position: absolute;
	top: 1px;
	right: -29px;

	padding: 10px 7px;

	border-radius: 20px;
	background: var(--accent);
	color: var(--accent-text);

	font-size: 16px;
	font-weight: 500;
	line-height: 110%;

	@include mediaMd {
		top: -1px;
	}
}

.slide-desc {
	max-width: 600px;

	font-size: 16px;
	font-weight: 500;
	line-height: 160%;

	text-align: center;
	text-wrap: balance;
}

.slide-name {
	font-size: 12px;
	font-weight: 500;
	line-height: 160%;
}

.btn {
	margin-top: 66px;

	@include mediaMd {
		width: 100%;
	}
}
