@use '@@/styles/mixins.scss' as *;

.confirmation {
	display: flex;
	flex-direction: column;

	margin-bottom: 40px;
}

.radio-text {
	@include mediaSm {
		line-height: 120%;
	}
}

.radio-text a {
	color: var(--black);

	text-decoration: underline;
}

.btn {
	margin-left: auto;
	margin-top: 20px;

	@include mediaMd {
		width: 100%;
	}
}

.radio-section {
	margin-top: 20px;
}
