@use '@@/styles/mixins.scss' as *;

.popup-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.popup-form {
  display: none;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  &--opened {
    display: flex;
  }
}

.btn {
  margin-top: 20px;

  @include media($prelg) {
    width: 100%;
  }
}

.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.upload > input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.upload-text {
  color: var(--black);

  font-size: 16px;
  font-weight: 500;
  line-height: 180%;
  text-align: center;
  text-wrap: balance;
}

.file-name {
  display: flex;
  gap: 10px;
  align-items: center;

  padding: 0px 10px;

  color: var(--black);
  background: var(--light-gray);
  border-radius: 20px;

  font-size: 16px;
  font-weight: 500;
  line-height: 180%;
  text-transform: uppercase;

  cursor: pointer;
}

.upload-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  padding: 16px 32px;
  width: fit-content;

  border-radius: var(--border-radius);

  font-size: 16px;
  font-weight: 500;
  line-height: 110%;

  transition: var(--transition);

  background: transparent;
  border: 1px solid var(--gray-2);
  color: var(--gray-2);

  &:hover {
    opacity: 1;
    background: var(--gray-2);
    color: var(--accent-text);
  }
}
