@use '@@/styles/mixins.scss' as *;

.payment {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.item {
	display: flex;
	gap: 40px;

	padding: 20px;

	border-radius: var(--border-radius);
	background: var(--gray-1);

	@include mediaMd {
		gap: 20px;
	}

	@include mediaSm {
		flex-direction: column;
	}
}

.icon {
	flex-shrink: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 80px;
	height: 80px;

	border: 1px solid var(--black);
	border-radius: 50%;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.title {
	color: var(--gray-2);

	font-family: var(--font-accent);
	font-size: 20px;
	font-weight: 700;
	line-height: 100%;
}

.desc {
	font-size: 16px;
	line-height: 180%;
	font-weight: 500;
}

.text {
	color: #8f8f8f;

	font-size: 16px;
	font-weight: 500;
	line-height: 180%;
}
