// ~Poppins
@font-face {
	font-family: "Poppins";
	src: url(./fonts/Poppins-Medium.woff2);
	font-weight: 500;
}

@font-face {
	font-family: "Poppins";
	src: url(./fonts/Poppins-Regular.woff2);
	font-weight: 400;
}

@font-face {
	font-family: "Poppins";
	src: url(./fonts/Poppins-Light.woff2);
	font-weight: 300;
}

// ~Georgia
@font-face {
	font-family: "Georgia";
	src: url(./fonts/Georgia-Regular.woff2);
	font-weight: 400;
}

@font-face {
	font-family: "Georgia";
	src: url(./fonts/Georgia-Bold.ttf);
	font-weight: 700;
}
