.profile-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-sections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.form-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.desc {
  margin-bottom: 20px;
}

.forgot-password {
  color: var(--accent);
  font-weight: 500;
}
