@use '@@/styles/mixins.scss' as *;

.header-nav-btn {
	width: 34px;
	height: 34px;

	display: flex;
	align-items: center;
	justify-content: center;

	background: var(--gray-3);
	color: var(--black);
	border-radius: 50%;

	cursor: pointer;

	transition: var(--transition);

	&--accent {
		background: var(--black);
		color: var(--gray-3);
	}

	&:hover {
		opacity: var(--opacity);
	}

	&--open {
		background: var(--gray-2);
		color: var(--light-gray);
	}

	@include mediaXl {
		width: 45px;
		height: 45px;
	}

	// @include mediaLg {
	// 	svg {
	// 		// width: 16px;

	// 		path {
	// 			width: 100%;
	// 		}
	// 	}
	// }
}
