@use "@@/styles/mixins.scss" as *;

.cta-wrapper {
	padding: 59px 0px;

	background: var(--gray-6);
}

.body {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px;

	@include mediaLg {
		grid-template-columns: 1fr;
	}
}

.title {
	font-family: var(--font-accent);
	font-size: 40px;
	font-weight: 700;
	line-height: 100%;

	@include mediaXl {
		font-size: 30px;
	}
}

.btn {
}
