@use '@@/styles/mixins.scss' as *;

.product-img {
	width: 80px;
	height: 80px;
	object-fit: cover;
	object-position: center center;
}

.product-inner {
	display: grid;
	grid-template-columns: 80px 1fr 160px 150px 150px 180px;
	gap: 20px;
	align-items: center;

	padding-bottom: 20px;

	@include mediaXxl {
		grid-template-columns: 80px 1fr 160px 80px 80px 180px;
	}

	@include mediaXl {
		grid-template-columns: 80px 80px 1fr 1fr;
		align-items: start;
	}

	@include mediaLg {
		grid-template-columns: 80px 80px 1fr;
	}
}

.product-inner--extra {
	grid-template-columns: 80px 1fr 150px 150px 180px;

	@include mediaXxl {
		grid-template-columns: 80px 1fr 80px 80px 180px;

		&--extra {
			grid-template-columns: 80px 1fr 80px 80px 180px;
		}
	}

	@include mediaXl {
		grid-template-columns: 80px 80px 1fr;
		align-items: start;

		.product-actions {
			grid-row: 2;
			grid-column: 3/4;
		}
	}
}

.product-info-title {
	display: inline-flex;
	flex-direction: column;
	gap: 5px;

	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	@include mediaXl {
		grid-column: 2/4;
	}
}

.product-name {
	color: var(--black);

	font-size: 16px;
	font-weight: 500;
	line-height: 120%;

	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	@include mediaXl {
		white-space: normal;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}

.product-name--main {
	color: var(--accent);
}

.product-detail {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 5px;

	@include mediaXl {
		grid-row: 2;
		align-items: flex-start;
	}
}

.product-qty-btn {
	@include mediaXxl {
		width: 160px;
	}

	@include mediaXl {
		margin-left: auto;
	}

	@include mediaLg {
		grid-row: 2;
		grid-column: 3/4;
	}

	@include mediaMd {
		width: 150px;
	}
}

.product-add-postcard {
	@include mediaLg {
		width: 100%;

		button {
			width: 100%;
		}
	}
}

.product-actions {
	display: flex;
	justify-content: flex-end;
	gap: 20px;

	@include mediaXl {
		grid-row: 2;
		grid-column: 4 / 5;
	}

	@include mediaLg {
		grid-row: 3;
		grid-column: 1/-1;
	}
}

.product-detail-title {
	font-size: 12px;
	font-weight: 500;
	line-height: 120%;
}

.product-detail-num {
	font-size: 16px;
	font-weight: 500;
	line-height: 120%;
}

.product-deleted,
.product-edited {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 50px;
	height: 50px;

	color: var(--gray-2);
	border-radius: var(--border-radius);

	transition: var(--transition);
}

.product-edited {
	padding: 0;
	border: 1px solid var(--gray-2);

	&:hover {
		background: var(--gray-2);
		color: var(--accent-text);
	}
}

.product-deleted {
	border: 1px solid var(--accent);

	&:hover {
		background: var(--accent);
		color: var(--accent-text);
	}
}
