@use '@@/styles/mixins.scss' as *;

.cart {
	margin-top: 40px;
}

.cart-info {
	display: flex;
	align-items: center;
	gap: 20px;

	@include mediaMd {
		flex-direction: column-reverse;
	}
}

.prices {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 6px;

	@include mediaMd {
		align-items: center;
	}
}

.price-now {
	color: var(--gray-2);

	font-family: var(--font-accent);
	font-size: 24px;
	font-weight: 700;
	line-height: 100%;
}

.price-old {
	color: var(--accent);

	font-size: 16px;
	font-weight: 500;
	line-height: 110%;

	text-decoration: line-through;
}

.cart-actions {
	display: flex;
	gap: 10px;

	margin-top: 20px;
}

.btn-like {
	height: 50px;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 16px;

	svg {
		width: 16px;
		height: 16px;
	}

	@include mediaMd {
		flex-shrink: 0;
	}
}
