.select {
	border: 1px solid var(--gray-2);
	border-radius: var(--border-radius);

	padding: 13px 15px;
	width: 100%;

	background-color: #fff;
	color: var(--gray-2);

	font-family: var(--font);
	font-size: 16px;
	font-weight: 500;

	-moz-appearance: none; /* Firefox */
	-webkit-appearance: none; /* Safari and Chrome */

	/* Arrow */
	appearance: none;
	background-image: url("../../icons/select-chevron.svg");
	background-repeat: no-repeat;
	background-position: right 14px top 50%;
	background-size: 12px auto;
}

.option {
	color: var(--black);
}

.tags {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;

	margin-top: 10px;
}

.tag {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	padding: 4px 10px;

	background: var(--gray-2);
	border-radius: 20px;

	font-size: 14px;
	font-weight: 500;
	color: #fff;
	line-height: 110%;
}
