.item {
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 20px;
}

.item-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: center center;
}

.item-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-desc {
  text-wrap: balance;
}

.item-title,
.item-desc,
.item-date {
  color: var(--black);
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
}

.item-title {
  color: var(--accent);
}
