@use '@@/styles/mixins.scss' as *;

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 20px;

  background: var(--gray-1);

  @include mediaLg {
    padding: 20px 0;
  }
}

.filter-radios {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btn {
  width: 100%;
  gap: 10px;
}
