@use '@@/styles/mixins.scss' as *;

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;

	margin-top: 40px;

	@include mediaLg {
		flex-direction: column;
		align-items: flex-start;
		margin-top: 20px;
	}
}

.breadcrumbs {
	display: flex;
	align-items: center;
	gap: 20px;
}

.breadcrumbs-item {
	color: #968b8b;

	font-size: 14px;
	font-weight: 500;
	line-height: 120%;

	&--active {
		color: var(--black);
	}
}

.content {
	margin-top: 20px;
}

.title {
	@include mediaLg {
		font-size: 35px;
	}
}
