.header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-top: 40px;
}

.breadcrumbs {
	display: flex;
	align-items: center;
	gap: 20px;
}

.breadcrumbs-item {
	color: #968b8b;

	font-size: 14px;
	font-weight: 500;
	line-height: 120%;

	&--active {
		color: var(--black);
	}
}

.content {
	margin-top: 20px;
}
